{% extends "base/base.html" %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <!-- Total Sales Line Chart -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Sales Line Chart</h5>
                <!-- Add Line Chart component or embed chart here -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Pending Orders List -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pending Orders List</h5>
                <!-- Add Table component for Pending Orders List -->
            </div>
        </div>
    </div>
</div>
{% endblock body %}